.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
}
.navbarLight {
  background: rgba(255, 255, 255, 0.866);
  backdrop-filter: blur(9px);
  color: rgb(0, 0, 0);
}
.navbarLight:hover {
  background: rgba(255, 255, 255, 0.9);
}

.navbarDark {
  background: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(9px);
  color: rgb(255, 255, 255);
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.MiLogo {
  border-radius: 50%;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: inherit;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLink {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}
.botonnav {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}
.botonnav:hover {
  transform: translateY(-5px);
  color: #0070f3;
}

.toggleButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: inherit;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggleButton:hover {
  transform: scale(1.2);
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: inherit;
  cursor: pointer;
}

.rightSide {
  display: flex;
  align-items: center;
}

/* Responsive mobile */
@media (max-width: 700px) {
  .menuToggle {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background: #dddddd;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: inherit;
    padding: 1rem;
    z-index: 99;
  }

  .open {
    display: flex;
  }
}
