:global(body.dark) .contactoContainer {
  background-color: #000000;
  color: #f5f5f5;
}

:global(body.dark) .titulo {
  color: #ffffff;
}

:global(body.dark) .labeltext {
  color: #ffffff;
}

:global(body.dark) .formulario {
  background-color: #1e1e1e;
  border-color: #333;
  color: #ffffff;
}

:global(body.dark) .formulario:hover {
  background-color: #00ffeacc;
  color: #000000;
}

:global(body.dark) .formulario a {
  color: #000000;
}

.contactoContainer {
  padding: 2rem;
  background-color: #ffffff;
  text-align: center;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}
/*====== ESTILOS DEL FORMULARIO ======*/
.formulario{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  min-height: auto;
  max-width: 20rem;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #ffffff;
}
.contenido{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.labeltext{
  font-size: 1.2rem;
  color: #000000;
}
.ingresardato{
  padding: 2px 10px;
  border-radius: 6px;
  width: 16rem;
  height: 30px;
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.ingresardato:focus {
  outline: none;
  border-color: #525252;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.mensaje{
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
}
.botonenviar {
  padding: 10px 20px;
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.3s ease;
  align-self: center;
}
.botonenviar:hover {
  transform: scale(1.05);
  color: #0077b5;
  background-color: #ffffff;
}
/*====== ESTILOS DE LAS REDES SOCIALES ======*/
.redes {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.icono {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  text-decoration: none;
  color: #222;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.icono:hover {
  transform: scale(1.05);
  color: #0077b5;
}

@media (max-width: 600px) {
  .redes {
    flex-direction: column;
    align-items: center;
  }

  .icono {
    width: 80%;
    justify-content: center;
  }
}
